html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
}

#wrapper {
     height: 100vh;
}

.title-container {
    padding: 30px 25px 20px 35px;
    
}

.title {
    font-size: 36px;
    
}

/* style form and inputs */

.form-container {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 100px;
    background-color: #eee;
    padding: 20px 30px;
    border-radius: 4px;
}

.input{
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.input input {
    height: 100%;
    width: 75%;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 32px;
}

.add-button-container input {
    border: none;
    outline: none;
    width: 120px;
    height: 50px;
    background-color: #205FBD;
    cursor: pointer;
    font-size: 24px;
    color: white;
    font-weight: 700;
    border-radius: 4px;
}

.input input::placeholder {
    font-size: 32px;
}


/* style courses section */

.courses-container {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
}


/* helper classes */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}